@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,100italic,400italic,500,500italic,700italic,700,900,900italic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic);
@import url(../fonts/Ariston-Normal/styles.css);
/*================================================
COLORS
================================================*/
#preloader {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease; }
  .js #preloader {
    opacity: 1;
    visibility: visible; }
  #preloader.preloader-hide {
    opacity: 0;
    visibility: hidden; }

.preloader-container {
  width: 100px;
  margin: 25rem auto;
  position: relative; }

.outer {
  width: 100px;
  height: 100px;
  border-top: 5px solid #00bfaf;
  border-radius: 50%;
  -webkit-animation: rot1 55s linear infinite; }

@-webkit-keyframes rot1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(11360deg); } }
.inner {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border-top: 3.5px solid #e5e5e5;
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-animation: rot2 15s linear  infinite forwards; }

@-webkit-keyframes rot2 {
  from {
    transform: rotate(3360deg); }
  to {
    transform: rotate(0deg); } }
@font-face {
  font-family: 'Garamond-Bold';
  src: url("../fonts/garamond/Garamond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/garamond/Garamond-Bold.woff") format("woff"), url("../fonts/garamond/Garamond-Bold.ttf") format("truetype"), url("../fonts/garamond/Garamond-Bold.svg#Garamond-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
.btn, nav menu > li, nav menu > li > a, nav menu > li > ul.sub-menu, nav menu > li > ul.sub-menu a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.img-wrap, .js ul.list-blog li .lblog-photo, #after-header, #after-header .after-header-text::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

::-moz-selection {
  background-color: rgba(0, 191, 175, 0.5);
  color: #ffffff; }

::selection {
  background-color: rgba(0, 191, 175, 0.5);
  color: #ffffff; }

/*================================================
MAIN STYLES
================================================*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4c5059;
  font-size: 14px;
  line-height: 1.43; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

.page-title {
  font-family: 'Garamond-Bold';
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0 70px; }

.btn {
  font-size: 14px;
  color: #abadb3;
  padding: 10px 25px;
  font-weight: 300;
  border: 1px solid #abadb3;
  border-radius: 20px; }
  .btn:hover {
    background-color: #abadb3;
    color: #ffffff; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-green {
  background-color: #00a698; }

.text-green {
  color: #00bfaf; }

.ariston {
  font-family: 'Ariston-Normal'; }

h3.ariston {
  color: #00bfaf;
  text-align: center;
  font-weight: normal;
  font-family: 'Ariston-Normal';
  font-size: 40px; }

.img-wrap {
  display: block;
  overflow: hidden; }

ul.list-theme {
  list-style: none; }
  ul.list-theme::after {
    display: table;
    content: "";
    clear: both; }
  ul.list-theme li {
    position: relative;
    padding: 10px 10px 10px 21px; }
    ul.list-theme li::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      height: 12px;
      width: 12px;
      background-image: url(../img/list.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px; }
  @media (min-width: 500px) {
    ul.list-theme.cols-2 li {
      float: left;
      width: 50%;
      padding-right: 15px; } }

ul.list-blog {
  list-style: none; }
  ul.list-blog::after {
    display: table;
    clear: both;
    content: ""; }
  ul.list-blog li {
    float: left;
    width: 50%;
    margin-bottom: 38px;
    overflow: hidden; }
    ul.list-blog li .lblog-content {
      padding: 0 15px;
      float: left;
      box-sizing: border-box;
      width: 70%; }
    ul.list-blog li .lblog-photo {
      float: left;
      width: 30%;
      border-radius: 10px;
      overflow: hidden; }
      .js ul.list-blog li .lblog-photo {
        padding-top: 30%; }
      ul.list-blog li .lblog-photo img {
        width: 100%;
        height: auto; }
    ul.list-blog li h3 {
      margin-top: 0; }
    @media (max-width: 767px) {
      ul.list-blog li {
        float: none;
        width: 100%; } }
  ul.list-blog .readmore {
    color: #00bfaf;
    text-decoration: underline;
    font-style: italic; }
    ul.list-blog .readmore:hover {
      text-decoration: none; }

p.large {
  font-size: 18px; }

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

.table {
  width: 100%; }
  .table th, .table {
    border-bottom: 1px solid #abadb3;
    border-top: none !important; }
  .table th, .table td {
    padding: 10px; }
  .table th {
    text-transform: uppercase; }
  .table td {
    border: none;
    border-bottom: 1px solid #e5e5e5 !important; }
  .table tr:last-child td {
    border-bottom: 1px solid #abadb3 !important; }
  .table.price td:last-child {
    width: 20%; }
  .table.price tr td {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .table.price tr:hover td {
    background-color: #f5f5f5; }

.zl-collapse {
  display: block;
  margin-bottom: 20px; }
  .zl-collapse .zl-collapse-title {
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 12px 15px 12px 48px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .zl-collapse .zl-collapse-title::before {
      font-family: FontAwesome;
      font-size: 12px;
      content: "\f067";
      position: absolute;
      top: 50%;
      left: 15px;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .zl-collapse .zl-collapse-title:hover, .zl-collapse .zl-collapse-title.active {
      background-color: #00bfaf;
      border: 1px solid #00bfaf;
      color: #ffffff; }
    .zl-collapse .zl-collapse-title.active::before {
      content: "\f068"; }
  .zl-collapse .zl-collapse-content {
    display: none;
    padding: 15px;
    border-bottom: 1px solid #00bfaf; }

img.right {
  float: right;
  margin: 0 15px; }

img.left {
  float: left;
  margin: 0 15px; }

.read-more {
  color: #00bfaf;
  text-decoration: underline; }
  .read-more:hover, .read-more:focus, .read-more:active {
    text-decoration: none;
    color: #00bfaf; }

.social {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social li {
    float: left; }
    .social li:not(:last-child) {
      margin-right: 20px; }
    .social li a {
      color: #00bfaf;
      text-decoration: none !important;
      font-size: 24px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  transition: border 0.3s ease; }

input[type="color"]:active, input[type="date"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active, input[type="email"]:active, input[type="month"]:active, input[type="number"]:active, input[type="password"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="text"]:active, input[type="time"]:active, input[type="url"]:active, input[type="week"]:active, input:not([type]):active, textarea:active {
  border: 1px solid #00bfaf;
  outline: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border: 1px solid #00bfaf;
  outline: none; }

input[type="text"] {
  height: 40px;
  line-height: 40px;
  padding: 0 20px; }

#searchform {
  position: relative;
  margin-bottom: 35px; }
  #searchform::after {
    display: block;
    position: absolute;
    content: "\f002";
    font-family: FontAwesome;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #abadb3; }
  #searchform input[type="text"] {
    width: 100%; }

img.alignleft, img.align-left {
  float: left;
  margin: 0 15px 10px 0; }

img.alignright, img.align-right {
  float: right;
  margin: 0 0 10px 15px; }

body:not(.home) #content {
  padding-bottom: 70px; }

/*================================================
HEADER
================================================*/
header {
  position: relative;
  z-index: 300;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; }
  header .container {
    padding-bottom: 10px; }
  header::after {
    position: absolute;
    height: 30px;
    width: 50%;
    background-color: #00bfaf;
    top: 0;
    right: 0;
    content: "";
    z-index: 0; }
  header .container {
    position: relative;
    z-index: 5; }
  header h4 {
    position: relative;
    margin: 0;
    padding: 10px 15px;
    line-height: 1;
    color: #ffffff;
    background-color: #00bfaf;
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    width: 70%;
    float: right; }
    header h4::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      height: 0;
      width: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 30px solid #ffffff; }
  header .address {
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1;
    margin: 22px 0; }
    header .address span {
      text-transform: none;
      color: #abadb3; }
  header .phones {
    text-align: right;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 1; }
    header .phones span {
      color: #00bfaf; }

@media (max-width: 991px) {
  header .address, header .phones {
    text-align: center;
    margin: 15px 0;
    line-height: inherit; }

  #logo {
    margin: 15px 0;
    display: block;
    text-align: center; } }
/*================================================
NAVIGATION
================================================*/
nav {
  height: 40px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  nav .container {
    min-height: 100%; }
    @media (max-width: 991px) {
      nav .container {
        width: 100%; } }
  nav menu {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none; }
    nav menu li.helper {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      height: 100%;
      width: 0px;
      content: "";
      background-color: #00bfaf;
      -webkit-transition: all 0.5s cubic-bezier(0, 0.8, 0.07, 0.98);
      -moz-transition: all 0.5s cubic-bezier(0, 0.8, 0.07, 0.98);
      transition: all 0.5s cubic-bezier(0, 0.8, 0.07, 0.98); }
    nav menu > li {
      position: relative;
      z-index: 5;
      max-height: 40px;
      display: inline-block; }
      nav menu > li:last-child a::after {
        display: none; }
      nav menu > li > a {
        position: relative;
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        color: #4c5059;
        text-transform: uppercase;
        line-height: 38px;
        padding: 0 25px;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        transition-property: color; }
        nav menu > li > a::after {
          position: absolute;
          top: 10px;
          right: 0;
          content: "";
          height: 20px;
          width: 1px;
          background-color: #e5e5e5; }
        nav menu > li > a:hover, nav menu > li > a:focus, nav menu > li > a:active {
          text-decoration: none;
          color: #ffffff; }
      nav menu > li.active > a, nav menu > li.current-menu-item > a {
        color: #ffffff; }
      nav menu > li.active.other-hov, nav menu > li.current-menu-item.other-hov {
        background-color: #e5e5e5; }
      nav menu > li > ul.sub-menu {
        opacity: 0;
        visibility: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 14px;
        position: absolute;
        top: 100%;
        left: 0;
        width: auto;
        min-width: 300px;
        border-top: 1px solid #00bfaf;
        background-color: #f5f5f5;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1); }
        nav menu > li > ul.sub-menu a {
          display: block;
          text-align: left;
          padding: 10px 15px;
          color: #4c5059; }
          nav menu > li > ul.sub-menu a:hover, nav menu > li > ul.sub-menu a:focus, nav menu > li > ul.sub-menu a:active {
            color: #4c5059;
            text-decoration: none;
            background-color: #e5e5e5; }
      nav menu > li.columns > ul.sub-menu {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        min-width: 800px; }
      nav menu > li:hover > ul {
        opacity: 1;
        visibility: visible; }
    @media (max-width: 991px) {
      nav menu {
        display: none; } }

#after-header {
  position: relative;
  overflow: hidden;
  height: 460px;
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  z-index: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px; }
  #after-header .container {
    position: relative;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: -moz-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
  #after-header .after-header-text {
    position: relative;
    color: #ffffff;
    background-color: rgba(0, 115, 105, 0.5);
    height: auto;
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 25px; }
    #after-header .after-header-text::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -660px;
      height: 461px;
      width: 665px;
      background-image: url(../img/girl-header.png); }
    #after-header .after-header-text h3, #after-header .after-header-text h4 {
      text-transform: uppercase;
      margin: 0;
      line-height: 1.5; }
    #after-header .after-header-text h3 {
      font-size: 24px; }
    #after-header .after-header-text h4 {
      font-size: 18px; }
    #after-header .after-header-text .btn {
      color: #ffffff;
      border: 2px solid #ffffff;
      padding: 10px 15px;
      margin-top: 10px; }
      #after-header .after-header-text .btn:hover {
        color: #00a698;
        background-color: #ffffff; }

/*================================================
HAMBURGER BUTTON
================================================*/
.c-hamburger {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 0;
  overflow: hidden;
  margin: -20px 0 0 0;
  padding: 0;
  height: 37px;
  width: 37px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; }
  @media (min-width: 992px) {
    .c-hamburger {
      display: none; } }
  @media (max-width: 767px) {
    .c-hamburger {
      right: 15px; } }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #00bfaf;
    margin-top: -2px; }
    .c-hamburger span::before, .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #00bfaf;
      content: ""; }
    .c-hamburger span::before {
      top: -10px; }
    .c-hamburger span::after {
      bottom: -10px; }

.c-hamburger.fixed {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  border-radius: 0;
  margin: 0;
  z-index: 20; }
  .show-burger .c-hamburger.fixed {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 991px) {
    .c-hamburger.fixed {
      display: none; } }

.c-hamburger--htx {
  background-color: transparent; }
  .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    -moz-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .c-hamburger--htx span::before, .c-hamburger--htx span::after {
      -webkit-transition-duration: 0.3s, 0.3s;
      -moz-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s; }
    .c-hamburger--htx span::before {
      -webkit-transition-property: top, -webkit-transform;
      -moz-transition-property: top, -moz-transform;
      transition-property: top, transform; }
    .c-hamburger--htx span::after {
      -webkit-transition-property: bottom, -webkit-transform;
      -moz-transition-property: bottom, -moz-transform;
      transition-property: bottom, transform; }
  .c-hamburger--htx.is-active {
    background-color: transparent; }
    .c-hamburger--htx.is-active span {
      background: none; }
      .c-hamburger--htx.is-active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.3s;
        -moz-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }
      .c-hamburger--htx.is-active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.3s;
        -moz-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }

.c-hamburger--htra {
  background-color: transparent; }
  .c-hamburger--htra span {
    transition: transform 0.3s; }
    .c-hamburger--htra span::before {
      transform-origin: top left;
      transition: transform 0.3s, width 0.3s, top 0.3s; }
    .c-hamburger--htra span::after {
      transform-origin: bottom left;
      transition: transform 0.3s, width 0.3s, bottom 0.3s; }
  .c-hamburger--htra.is-active {
    background-color: transparent; }
    .c-hamburger--htra.is-active span {
      transform: rotate(180deg); }
      .c-hamburger--htra.is-active span::before, .c-hamburger--htra.is-active span::after {
        width: 50%; }
      .c-hamburger--htra.is-active span::before {
        top: 0;
        transform: translateX(-3px) translateY(1px) rotate(-45deg); }
      .c-hamburger--htra.is-active span::after {
        bottom: 0;
        transform: translateX(-3px) translateY(-1px) rotate(45deg); }

/*================================================
SIDEBAR
================================================*/
aside .widget {
  margin-bottom: 35px; }
  aside .widget .widget-title {
    position: relative;
    border-bottom: 1px solid #00bfaf;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    margin: 0 0 20px 0; }
    aside .widget .widget-title::before {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      content: "\f0a3";
      font-family: FontAwesome;
      font-size: 12px;
      color: #00bfaf; }
  aside .widget h3 {
    text-transform: uppercase; }
  aside .widget ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  aside .widget.stock .img-wrap {
    height: 200px;
    width: 100%;
    border: 1px solid #f5f5f5; }
  aside .widget.stock ul li {
    margin-bottom: 25px; }
  aside .widget.stock ul h3 {
    margin: 10px 0; }
  aside .widget.last-news ul li a {
    display: block;
    overflow: hidden;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    color: inherit !important;
    text-decoration: none !important; }
  aside .widget.last-news ul li:not(:last-child) {
    margin-bottom: 25px; }
  aside .widget.last-news .img-wrap {
    height: 70px;
    width: 100px;
    margin-right: 15px;
    float: left; }
  aside .widget.last-news h4 {
    font-weight: normal;
    margin: 7px 0; }
  aside .widget.last-news time {
    color: #abadb3; }

/*================================================
HOME PAGE
================================================*/
.home #content {
  position: relative;
  z-index: 5;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1); }
.home section {
  position: relative;
  z-index: 5;
  padding: 30px 0; }
  .home section h2 {
    font-family: 'Garamond-Bold', serif;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 0 30px 0; }
    .home section h2.title {
      border-bottom: 1px solid #e5e5e5; }
      .home section h2.title > div {
        display: inline-block;
        position: relative; }
      .home section h2.title .rhombus {
        position: absolute;
        right: -70px;
        top: 5px;
        height: 20px;
        width: 20px;
        border: 1px solid #00bfaf;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
        .home section h2.title .rhombus::before, .home section h2.title .rhombus::after {
          content: "";
          position: absolute;
          height: 14px;
          width: 14px;
          top: -9px;
          left: -9px;
          border: 1px solid #00bfaf; }
        .home section h2.title .rhombus::after {
          top: auto;
          left: auto;
          bottom: -9px;
          right: -9px; }
  .home section.bg-green {
    color: #ffffff; }
  .home section.bg-gray h2 {
    color: #00bfaf; }
  .home section.girl-right {
    position: relative;
    min-height: 740px; }
    .home section.girl-right::before {
      position: absolute;
      top: -30px;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background-image: url(../img/girl.png);
      background-size: 1094px 774px;
      background-repeat: no-repeat;
      background-position: 120% top;
      z-index: 1; }
      @media (max-width: 991px) {
        .home section.girl-right::before {
          opacity: 0.5;
          background-position: center; } }
    .home section.girl-right .container {
      position: relative;
      z-index: 5; }

#stock-home {
  position: relative;
  z-index: 10;
  height: 281px;
  margin-bottom: 100px; }
  #stock-home::before, #stock-home::after {
    position: absolute;
    top: 50%;
    left: 17px;
    content: "";
    height: 258px;
    width: 217px;
    margin-top: -129px;
    background-image: url(../img/stock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 217px 258px;
    z-index: 0; }
  #stock-home::after {
    left: auto;
    right: 17px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #stock-home h2.title {
    border: none; }
    #stock-home h2.title .rhombus, #stock-home h2.title .rhombus::before, #stock-home h2.title .rhombus::after {
      border-color: rgba(255, 255, 255, 0.5); }

#home-slider {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  z-index: 10; }
  #home-slider .slider-dots {
    position: relative;
    top: -20px;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0; }
    #home-slider .slider-dots li {
      display: inline-block;
      height: 9px;
      width: 9px;
      margin: 4px;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.3;
      cursor: pointer; }
      #home-slider .slider-dots li.active {
        opacity: 1; }
  #home-slider .slides {
    overflow: hidden;
    position: relative;
    width: 100%; }
    #home-slider .slides::before {
      display: block;
      width: 100%;
      content: "";
      padding-top: 24%; }
    #home-slider .slides .slide {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      transition: all 0.6s ease; }
      #home-slider .slides .slide.active {
        opacity: 1;
        visibility: visible; }
      #home-slider .slides .slide img {
        width: 100%;
        height: auto; }

#map {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 100%; }

/*================================================
NEWS BLOG
================================================*/
.page-template-blog article, .single article {
  border-bottom: 1px solid #e5e5e5; }
  .page-template-blog article:not(:last-of-type), .single article:not(:last-of-type) {
    margin-bottom: 50px; }
  .page-template-blog article .blog-image, .single article .blog-image {
    height: 300px;
    width: 100%;
    overflow: hidden; }
  .page-template-blog article .img-wrap, .single article .img-wrap {
    height: 100%;
    width: 100%;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    transition: all 1.2s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .page-template-blog article .img-wrap:hover, .single article .img-wrap:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
  .page-template-blog article h2, .single article h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 15px 0 20px; }
  .page-template-blog article .article-footer, .single article .article-footer {
    overflow: hidden;
    line-height: 1;
    padding: 15px 0 30px; }
    .page-template-blog article .article-footer .right, .single article .article-footer .right {
      float: right;
      color: #abadb3;
      font-style: italic; }
      .page-template-blog article .article-footer .right .read-more, .single article .article-footer .right .read-more {
        font-style: normal; }

/*================================================
PAGE
================================================*/
.page-template-default .blog-image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 350px;
  width: 100%; }
  .page-template-default .blog-image .img-wrap {
    height: 100%;
    width: 100%; }

.page #content article ul {
  margin: 0 0 15px 0;
  padding: 0; }
  .page #content article ul > li > ul {
    margin-left: 20px; }
.page #content article img {
  max-width: 100%;
  height: auto; }

/*================================================
FOOTER
================================================*/
footer {
  background-color: #00a698;
  background-image: url(../img/pattern.jpg);
  color: #ffffff; }
  footer .copyright {
    text-align: center;
    line-height: 1;
    padding: 12px 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
