
@font-face {
  font-family: 'Garamond-Bold';
  src: url('Garamond-Bold.eot?#iefix') format('embedded-opentype'),  url('Garamond-Bold.woff') format('woff'), url('Garamond-Bold.ttf')  format('truetype'), url('Garamond-Bold.svg#Garamond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
