
@font-face {
  font-family: 'Ariston-Normal';
  src: url('Ariston-Normal.eot?#iefix') format('embedded-opentype'),  url('Ariston-Normal.woff') format('woff'), url('Ariston-Normal.ttf')  format('truetype'), url('Ariston-Normal.svg#Ariston-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
