$footer-height: 10px;

/*================================================
COLORS
================================================*/
$white: #ffffff;
$light-gray: #f5f5f5;
$gray: #e5e5e5;
$dark-gray: #abadb3;
$text-color: #4c5059;
$light-green: #00bfaf;
$green: #00a698;
$dark-green: #007369;
$red: #ce474c;


$main-transition: all 0.3s ease;