@import "bourbon/_bourbon.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,100italic,400italic,500,500italic,700italic,700,900,900italic);

@import "_variables.scss";

%main-transition {
    @include transition(all 0.3s ease);
}

%background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*================================================
MAIN STYLES
================================================*/
body {
    font-family: 'Roboto', sans-serif;
}


.btn {
    font-size: 14px;
    color: $dark-gray;
    padding: 10px 25px;
    font-weight: 300;
    border: 1px solid $dark-gray;
    border-radius: 20px;
    @extend %main-transition;

    &:hover {
        background-color: $dark-gray;
        color: $white;
    }
}


/*================================================
HEADER
================================================*/
nav {
    height: 40px;
    background-color: $light-gray;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    menu {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 0;
        list-style: none;

        li {
            max-height: 40px;
            display: inline-block;
            @extend %main-transition;

            &:hover {
                background-color: $gray;
            }
            &:last-child a::after {
                display: none;
            }
        }
    }

    a {
        position: relative;
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        color: $text-color;
        text-transform: uppercase;
        line-height: 38px;
        padding: 0 25px;

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            content: "";
            @include size(1px 20px);
            background-color: $gray;
        }

        &:hover, &:focus, &:active {
            text-decoration: none;
            color: $text-color;
        }
    }
}


#after-header {
    overflow: hidden;
    @include size(100% 460px);
    background-image: url(../img/header-bg.jpg);
    @extend %background-image;
    @include transform-style(preserve-3d);
    @include perspective(3000px);

    .container {
        position: relative;
        height: 100%;
        @include transform-origin(50% 50%);
        @include transition(transform 0.6s cubic-bezier(.23,1,.32,1));
    }

    .after-header-text {
        position: relative;
        color: $white;
        background-color: rgba($dark-green, 0.5);
        height: auto;
        position: absolute;
        bottom: 0;
        left: 10px;
        padding: 25px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -660px;
            //@include transform(translate(-100%, 0));
            @include size(665px 461px);
            @extend %background-image;
            background-image: url(../img/girl-header.png);
        }
        
        h3, h4 {
            text-transform: uppercase;
            margin: 0;
            line-height: 1.5;
        }
        
        h3 {
            font-size: 24px;
        }
        
        h4 {
            font-size: 18px;
        }
        
        .btn {
            color: $white;
            border: 2px solid $white;
            padding: 10px 15px;
            margin-top: 10px;
            
            &:hover {
                color: $green;
                background-color: $white;
            }
        }
    }
}